{%- for blog in blog.articles -%}
  <div>
    {%- if blog.image -%}
      <img src="{{ blog.image | img_url : "medium" }}" alt="">

    {%- else -%}
      <img src="" alt="">
    {%- endif -%}
  </div>
{%- endfor -%}
